/*画面幅800px以上の追加指定*/
@media screen and (min-width:800px) {

    /*listブロック全体を囲むブロック*/
    .listGrid {
        grid-template-columns: repeat(3, 1fr);
        /*3列にする指定。4列にしたければrepeat(4, 1fr)とする。*/
        gap: 1rem;
        /*ブロックの間に空けるマージン的な指定*/
    }

}




/*bg1背景色がついたブロック
---------------------------------------------------------------------------*/
.bg1 {
    position: relative;
    background: var(--primary-color);
    /*背景色。css冒頭で指定しているprimary-colorを読み込みます*/
    color: var(--primary-text-color);
    /*文字色。css冒頭で指定しているprimary-text-colorを読み込みます*/
    padding-top: 5vw;
    /*ボックス内の上に空ける余白。お好みで調整して下さい。*/
    padding-bottom: 5vw;
    /*ボックス内の下に空ける余白。お好みで調整して下さい。*/
    margin-top: 10vw;
    /*ボックス外の上に空ける余白。お好みで調整して下さい。*/
    margin-bottom: 10vw;
    /*ボックス外の下に空ける余白。お好みで調整して下さい。*/

    /*以下は変更不要*/
    margin-left: calc(-1 * var(--global-space));
    margin-right: calc(-1 * var(--global-space));
    padding-left: var(--global-space);
    padding-right: var(--global-space);

    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    /*フォント種類（ゴシック）*/
    font-optical-sizing: auto;
    /*font-weight: 300;*/
    -webkit-text-size-adjust: none;
    background: #fff;
    /*背景色*/
    color: var(--text-color);
    /*文字色。css冒頭で指定しているtext-colorを読み込みます*/
    line-height: 2;
    /*行間*/
}

.bg1 a {
    color: inherit;
}

/*以下のheightの行が傾斜の角度です。vwという単位は画面幅に対してで、画面幅100%＝100vwになります。
つまり、画面幅に対して常に同じ傾斜具合になります。1pxの数字は時々隙間が発生するのでそれを防ぐ為の措置です。
傾斜（height）を変更したい場合は、下にある「.bg1::before」のtopと「.bg1::after」のbottomの数字も変更。*/
.bg1::before,
.bg1::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(5vw + 1px);
    background: var(--primary-color);
    /*背景色。css冒頭で指定しているprimary-colorを読み込みます*/
}

.listGrid {
    display: grid;
    color: var(--text-color);
    /*文字色。css冒頭で指定しているtext-colorを読み込みます*/
}

/*ボックス１個あたり*/
.listGrid .list {
    display: grid;
}

/*list内の全ての要素のmarginとpaddingを一旦リセット*/
.listGrid .list * {
    margin: 0;
    padding: 0;
}

/*ボックス内のp要素*/
.listGrid .list p {
    font-size: 0.85rem;
    /*文字サイズを85%に*/
}

.c {
    text-align: center !important;
}

.fadeInText {
    visibility: hidden;
}

.hosoku {
    display: block;
    font-weight: normal;
    font-size: 0.3em;
    /*親要素の40%のサイズに*/
}

.listGrid .list {
    padding: 1rem;
    /*ボックス内の余白*/
    background: #fff;
    /*背景色*/
    grid-template-rows: auto 1fr;
    /*１つ目（この場合はfigure要素のサイズ）は自動に、２つ目（この場合はtextブロック））を残った幅で使う*/
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    /*ボックスの影。右へ、下へ、ぼかし幅、0,0,0は黒の事で0.1は色が10%出た状態。*/
}

/*ボタン（btnと、btn-border-radius）
---------------------------------------------------------------------------*/
/*ボタン共通*/
.btn a,
.btnBorderRadius a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    /*テキストをセンタリング*/
    background: var(--primary-color) !important;
    /*背景色。css冒頭で指定しているprimary-colorを読み込みます*/
    color: var(--primary-text-color) !important;
    /*文字色。css冒頭で指定しているprimary-text-colorを読み込みます*/
    padding: 0.5rem !important;
    /*ボタン内の余白*/
    margin-top: 1rem !important;
}

/*ボタン共通（マウスオン時に少し明るくする）*/
.btn a:hover,
.btnBorderRadius a:hover {
    filter: brightness(1.2);
}

/*btn-border-radiusの上書き*/
.btnBorderRadius a {
    display: inline-block;
    padding: 0.5rem 2rem !important;
    /*ボタン内の余白*/
    border-radius: 100px;
    /*角丸の指定。適当に大きければOK。*/
    background: #f53e72 !important;
    display: block;
    margin: auto;


}

.btnDeploy {
    /*コレ*/
    display: flex;
    /*コレ*/
    align-items: center;
    /*コレ*/
    justify-content: center;

}