.slideshow {
    position: relative;
    width: 100%;
    height: 40%;
    /* スライドショーの高さを指定 */
    overflow: hidden;
    text-align: center;
}



.slide {
    position: relative;
    width: 100%;
    height: 90vh;
    background-size: 100% auto;
    /* 画像をコンテナ全体に収める */
    background-position: center;
    /* 画像の中心を表示する */
    background-repeat: no-repeat;
    object-fit: cover;
    /* 縦横比を維持したまま、短辺を基準にして自動的に拡大・縮小 */
    aspect-ratio: 4 / 4;
    /* ここにアスペクト比 */
}

.active {
    opacity: 1;
}

.text {
    position: absolute;
    top: 50%;
    /* コンテナの中央に位置 */
    left: 50%;
    /* コンテナの中央に位置 */
    transform: translate(-50%, -50%);
    /* 正確に中央に配置 */
    text-align: center;
    /* テキストを中央揃え */
    padding: 20px;
    font-size: 5.5rem;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.visible {
    opacity: 1;
    /* 表示状態で不透明 */
    transform: translate(-50%, -50%) translateY(0);
    /* 少し上に移動 */
}